<div ng-controller="PlanetListCtrl as vm">

    <div ng-hide="vm.planets.length">
        <p>Please wait, getting planets....</p>
    </div> 

    <ul class="list-group" ng-show="vm.planets.length">
        <li class="list-group-item" ng-repeat="planet in vm.planets">
            <div ng-click="showDistance = !showDistance">
                <h4>{{ planet.name }}</h4>
            </div>
            <div ng-show="showDistance">
                <p>{{ planet.distanceFromSunInKm | number }} km from Sun</p>
            </div>
        </li>
    </ul>
</div>